# Server configuration
SERVER_PORT=4111
APP_URL=http://localhost:4200

# OAuth configuration
OAUTH_AUDIENCE=traintribe-development
OAUTH_DOMAIN=https://securetoken.google.com/traintribe-development

# MongoDB configuration
MONGODB_URI=your_mongodb_link

# Database configuration
DB_TYPE=mongodb

# cloudinary configuration
CLOUDINARY_URL=cloudinary_url
CLOUDINARY_BASE_FOLDER_UPLOAD=traintribe-dev